* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: #1f2937;
    --secondary-color: #111827;
    --header-bg: #e71b24;
}

header {
    background-color: var(--header-bg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6em;
    text-align: center;
    padding: 0;
    color: var(--secondary-color);
}


button {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin-top: 1em;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom: none;
    padding: 0.5em;
    width: 6em;
}

button:hover {
    background-color: #162034;
}

nav {
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

body {
    background-color: var(--primary-color);
}

.card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: white;
    height: 80vh;
    width: 50vw;
    margin: 10vh;
    padding: 5vh;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 2em;
}

.content {
    display: flex;
    justify-content: center;
}

.inactive {
    background-color: var(--secondary-color);
}

.hidden {
    display: none;
}
